<div class="row">
    <div class="col-md-10">
        <p>
            <i class="fa fa-exclamation-triangle"></i>
            Please review all the incident information and click "Submit" to send the report to the Company
            <br>
            If you want to change something - return to the Incident Form.
        </p>
    </div>

    <div class="col-md-2">
        <button class="btn btn-success pull-right">Submit</button>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-12">
        <h4>General Information:</h4>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <table class="table table-responsive table-striped table-hover">
                <tbody>
                <tr ng-repeat="one in all_data">
                    <td class="col-xs-6 text-right">{{one.name}} :</td>
                    <td class="col-xs-6 text-left">{{one.values}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>