<!DOCTYPE html>
<html lang="en" ng-app="phonecatApp">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="lib/angular.js"></script>
    <script src="lib/controller.js"></script>

    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="PhoneListCtrl">

<p>Hello, {{name}}!</p>

<input type="text" ng-model="super_name">
<h1>Hello {{super_name}}</h1>
<p>1 + 2 = {{ 1+2 }}</p>

<ul>
    <li ng-repeat="phone in phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
    </li>
</ul>

<div ng-controller="PhoneListCtrl">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            Search: <input ng-model="query">

        </div>
        <div class="col-md-10">
            <!--Body content-->

            <ul class="phones">
                <li ng-repeat="phone in phones | filter:query">
                    <span>{{phone.name}}</span>
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>

</div>

</body>
</html>